.git
.gitignore
.gitattributes
.editorconfig
.env
.env.example
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.phpunit.result.cache
phpunit.xml
tests
README.md
docker-compose.yml
.idea
.vscode
*.md
